@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url("fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url("fonts/Inter-Bold.woff2") format("woff2");
}

:root {
	font-family: "Inter", sans-serif;
	cursor: url("img/cursors/cursor_default.png"), auto;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: hsl(0, 0%, 90%);
	/* https://opengameart.org/content/ceiling-tile-texture */
	background-image: url("img/background.jpeg");
	background-repeat: repeat;
	background-size: 256px;

	color: hsl(0, 0%, 20%);
	margin: 0px;
	padding: 50px;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: min-content;
	font-size: 12px;

	visibility: hidden;
	overflow: auto;
}

.warning {
	visibility: visible;

	display: flex;
	align-items: center;
	gap: 10px;
	width: max-content;
}

footer {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
}

#content {
	display: flex;
	gap: 10px;
}

#left,
#right {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#left>.container,
#right>.container {
	width: 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
}

#center {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#stuff {

}

#stuff > div {
	display: flex;
	gap: 10px;
}

#stuff > div > div {
	display: flex;
	gap: 10px;

	flex-grow: 1;
}

nav {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

main {
	height: 500px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

p {
	margin-bottom: 0px;
}

span {
	font-weight: normal;
}

small {
	font-weight: normal;
	font-size: 12px;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
	color: black;
}

a {
	color: hsl(0, 0%, 20%);
	display: inline-flex;
	text-decoration: none;
}

a,
button,
.link {
	cursor: url("img/cursors/cursor_pointer.png"), pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

.container,
nav>a {
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 10px;

	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
}

nav>a {
	color: black;
	transition-duration: 150ms;
	flex-grow: 1;
	flex-basis: 0;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

nav>a::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
	background: #a574a8;
	z-index: -1;
	transition-duration: 150ms;
}

nav>a:hover::before {
	height: 100%;
}

nav>a:hover {
	color: white;

	box-shadow: 5px 5px 0px 0px rgba(165, 116, 168, 0.5);
	-webkit-box-shadow: 5px 5px 0px 0px rgba(165, 116, 168, 0.5);
	-moz-box-shadow: 5px 5px 0px 0px rgba(165, 116, 168, 0.5);
}

nav>a.nav-external::after {
	content: "🡭";
	position: absolute;
	vertical-align: top;
	top: -3px;
	right: 1px;
}

code {
	font-size: 12px;
}

.button-88x31 {
	width: 88px;
	height: 31px;

	/* outline: 1px solid black;
	box-sizing: border-box; */
}

.button-88x31>* {
	width: 100%;
	height: 100%;
	transition-duration: 150ms;
}

.button-88x31:hover>* {
	scale: 1.1;
	transform: rotate(1.5deg) translateY(-2px) translateX(1px);
	z-index: 2;
}

.unstyled-ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.link {
	color: black;
	text-decoration: underline;
	transition-duration: 75ms;
}

.link:hover {
	background-color: #a574a8;
	color: white;
}

.hover-text {
	position: relative;
	display: inline-block;
	cursor: url("img/cursors/cursor_pointer.png"), pointer;
	color: transparent;
}

.hover-text::before,
.hover-text::after {
	position: absolute;
	top: 0px;
	left: 0px;
}

.hover-text::before {
	content: attr(data-text);
	color: black;
	text-decoration: underline;
}

.hover-text::after {
	content: attr(data-hover);
	background-color: #a574a8;
	opacity: 0;

	transition-duration: 150ms;
	transition-property: opacity;
}

.hover-text:hover::after {
	opacity: 1;
	color: #ffffffff;
}

.spoiler {
	color: black;
	background-color: black;
	transition: 150ms;
}

.spoiler:hover {
	color: white;
}

#oneko-spawn {
	position: absolute;
	right: 24px;
	width: 0px;
	height: 0px;
}

#hero-image {
	margin: 0px auto;
	width: 100px;
	transition-duration: 150ms;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

#hero-image>img {
	width: 100%;
}

#hero-image:hover {
	scale: 1.2;
	transform: rotate(3deg);
	filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
	-webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
}

.badge-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

#creare-button>span {
	background-color: #080808;
	color: #925eff;
	font-family: monospace;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#email {
	padding: 0px 5px;
	user-select: none;
	cursor: url("img/cursors/cursor_error.png") 7 7, not-allowed;
}

footer>#footer-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#underwater-effect {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
}

#badge-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
}

#whats-new {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

#whats-new>h4 {
	text-decoration: underline;
}

#whats-new li {
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: 50px;
	overflow: hidden;
	color: black;
}

#screen-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

@keyframes water-scroll {
	from {
		transform: translateX(-100px);
	}

	to {
		transform: translateX(0px);
	}
}

@keyframes water-bob {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(25px);
	}
}

.water {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 200vw;
	height: 50vh;

	z-index: -1;
	animation: water-scroll 5s ease-in-out alternate infinite;
	animation-delay: -2.5s;

	pointer-events: none;
	overflow: hidden;
}

.water>div {
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, hsla(220, 90%, 50%, 0.2), hsla(220, 80%, 10%, 0.55));
	animation: water-bob 5s ease-in-out alternate infinite;

	/* https://css-generators.com/wavy-shapes/ */
	--mask:
		radial-gradient(156.52px at 50% 210px, #000 99%, #0000 101%) calc(50% - 140px) 0/280px 100%,
		radial-gradient(156.52px at 50% -140px, #0000 99%, #000 101%) 50% 70px/280px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

#water-two {
	animation-delay: -5s;
	z-index: -3;
	left: -20px;
}

#water-two>div {
	animation-delay: -2.5s;
}

#squid {
	position: absolute;
	width: 300px;
	height: 300px;
	display: none;
	transform-origin: bottom right;
	scale: 0.2;
	z-index: -2;
	pointer-events: initial;

	background-image: url("img/squid.png");
	transform: rotate(-15deg);
}

.hide-scrollbar-buttons::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar {
	width: 16px;
	height: 16px;
	background: none;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button:single-button {
	width: 16px;
	height: 16px;
	background: silver;
	box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
	border: 1px solid;
	border-color: silver #000 #000 silver;
}

::-webkit-scrollbar-track {
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 2px;
	cursor: url("img/cursors/cursor_pointer.png"), pointer;
}

::-webkit-scrollbar-thumb:vertical {
	cursor: url("img/cursors/cursor_scrollv.png") 7 7, n-resize;
}

::-webkit-scrollbar-thumb:horizontal {
	cursor: url("img/cursors/cursor_scrollh.png") 7 7, e-resize;
}

::-webkit-scrollbar-button:single-button {
	background-repeat: no-repeat;
	background-size: 16px;
	cursor: url("img/cursors/cursor_pointer.png"), pointer;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}