/* https://github.com/rsms/inter */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url("Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url("Inter-Bold.woff2") format("woff2");
}

:root {
	font-family: "Inter", sans-serif;
}

body {
	background-color: hsl(0, 0%, 90%);
	/* https://opengameart.org/content/ceiling-tile-texture */
	background-image: url("background.jpeg");
	background-repeat: repeat;
	background-size: 256px;

	color: hsl(0, 0%, 20%);
	margin: 50px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: min-content;

	visibility: hidden;
}

noscript {
	visibility: visible;

	display: flex;
	align-items: center;
	gap: 10px;
	width: max-content;
}

footer {
	display: flex;
	align-items: center;
	height: 40px;
}

#content {
	display: flex;
	gap: 10px;
}

#content>#left,
#content>#right {
	min-width: 150px;
}

#content>#center {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

nav>a {
	flex-grow: 1;
	flex-basis: 0;
}

main {
	min-height: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
a {
	color: black;
}

a {
	font-weight: bold;
	display: inline-flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

.container,
nav>a {
	background-color: white;
	outline: 1px solid black;
	box-sizing: border-box;
	padding: 10px;

	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
}

nav>a {
	transition-duration: 150ms;
}

nav>a:hover {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.small {
	font-size: medium;
}

.image {
	width: 100%;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

#oneko-spawn {
	background-color: red;
	margin: 2px 12px 0px auto;
	width: 0px;
	height: 0px;
}

#hero-image {
	width: 128px;
}

#todo-list p {
	margin: 0px;
}