@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url("Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url("Inter-Bold.woff2") format("woff2");
}

:root {
	font-family: "Inter", sans-serif;
}

body {
	background-color: hsl(0, 0%, 90%);
	/* https://opengameart.org/content/ceiling-tile-texture */
	background-image: url("background.jpeg");
	background-repeat: repeat;
	background-size: 256px;

	color: hsl(0, 0%, 20%);
	margin: 50px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: min-content;

	visibility: hidden;
}

noscript {
	visibility: visible;

	display: flex;
	align-items: center;
	gap: 10px;
	width: max-content;
}

footer {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
}

#content {
	display: flex;
	gap: 10px;
}

#left,
#right {
	min-width: 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#center {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

main {
	height: 500px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
a {
	color: black;
}

a {
	display: inline-flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

.container,
nav>a {
	background-color: white;
	outline: 1px solid black;
	box-sizing: border-box;
	padding: 10px;

	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
}

nav>a {
	transition-duration: 150ms;
	flex-grow: 1;
	flex-basis: 0;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

nav>a::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
	background: #a574a8;
	z-index: -1;
	transition-duration: 150ms;
}

nav>a:hover::before {
	height: 100%;
}

nav>a:hover {
	color: white;

	box-shadow: 5px 5px 0px 0px rgba(165, 116, 168, 0.5);
	-webkit-box-shadow: 5px 5px 0px 0px rgba(165, 116, 168, 0.5);
	-moz-box-shadow: 5px 5px 0px 0px rgba(165, 116, 168, 0.5);
}

code {
	font-size: 16px;
}

.small {
	font-size: small;
	font-weight: normal;
}

.image {
	width: 100%;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.button-88x31 {
	background-color: hsl(0, 0%, 80%);
	width: 88px;
	height: 31px;
}

.unstyled-ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.link {
	transition-duration: 75ms;
}

.link:hover {
	background-color: #a574a8;
	color: white;
}

#oneko-spawn {
	position: absolute;
	right: 24px;
	width: 0px;
	height: 0px;
}

#hero-image {
	width: 128px;
	transition-duration: 150ms;
}

#hero-image:hover {
	scale: 1.3;
	transform: rotate(5deg);
}

#cool-sites {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

#cool-sites>.button-88x31 {
	margin: 0px auto;
	/* outline: 1px solid black;
	box-sizing: border-box; */
}

#creare-button {
	background-color: #080808;
	color: #925eff;
	font-family: monospace;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#todo-list>ul {
	font-family: monospace;
	font-size: 16px;
}

#email {
	background-color: black;
	color: white;
	padding: 0px 5px;
	user-select: none;
	cursor: not-allowed;
}

footer>#footer-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
